@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Roboto/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Roboto/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 8px;
}

.content {
  display: flex;

  @media screen and (max-width: 768px) {
    display: block;
  }

  & .main-content{
    @media screen and (max-width: 768px) {
      margin: 0;
      width: 100%;
    }
  }

}


.age-warning {
  background-color: yellow;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.practices h2 {
  font-weight: bold;
  margin-top: 20px;
}

.main-content {
  width: 75%;
  margin-left: 1.4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pushup {
  background-color: red;
}

.vip {
  background-color: purple;
}

.new {
  background-color: blue;
}

.list-item {
  display: flex;
  gap: 20px;
}

.details {
  flex: 1;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f9f9f9;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #c6507e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
